<div th:fragment="modal">
    <div class="modal" tabindex="-1" role="form" id="emodal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" placeholder="Enter ID" readonly>
                    </div>

                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Name">
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
                    </div>

                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="text" class="form-control" id="age" placeholder="Enter Age">
                    </div>

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="email" class="form-control" id="username" placeholder="Enter Username">
                    </div>

                    <div class="form-group">
                        <label for="eroles">Role</label>
                        <select multiple class="form-control" id="eroles" name="eroles"></select>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" onclick="saveUser()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        async function saveUser() {
            let emodal = document.getElementById('emodal');

            user.name = emodal.querySelector('.modal-body input[id=name]').value;
            user.lastName = emodal.querySelector('.modal-body input[id=lastName]').value;
            user.age = emodal.querySelector('.modal-body input[id=age]').value;
            user.username = emodal.querySelector('.modal-body input[id=username]').value;
            user.authorities = [];

            let roles = document.getElementById('eroles');
            let options = Array.apply(null, roles.options);
            options.map(opt =>
                opt.selected ?
                    allRoles.map(x => (x.id == opt.value) ? user.authorities.push(x) : console.log(""))
                    : null);

            console.log(user)

            await fetch("http://localhost:8080/api/users", {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(user)
            });

            $('#emodal').modal('hide');
            await getUsers();

        }
    </script>
</div>