<div th:fragment="userForm">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <form class="h-100">
                <div class="form-group ">
                    <label for="first-name">First Name</label>
                    <input type="text" class="form-control" id="first-name" aria-describedby="firstname"
                           placeholder="Enter First Name">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" class="form-control" id="last-name" aria-describedby="lastname"
                           placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" class="form-control" id="age" aria-describedby="age" placeholder="Enter Age">
                </div>
                <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" id="pass" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="roles">Role</label>
                    <select multiple class="form-control" id="roles">
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Add new user</button>
            </form>
        </div>
    </div>
</div>
